{% extends "dao_tao/dao_tao_base.html" %}
{% load static %}
{% load humanizelib %}
{% load l10n %}
{% block title %}Xác nhận xóa thiết lập đăng ký{% endblock %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Xác nhận xóa thiết lập đăng ký</h4>
    </div>
    <div class="card-body">
          <dl class="dl-horizontal">
            <strong>Hệ đào tạo: </strong> : {{ registration_preset.major.study_program.study_program_name }}
          </dl>
          <dl class="dl-horizontal">
            <strong>Faculty: </strong> : {{ registration_preset.major.faculty.faculty_name }}
          </dl>
          <dl class="dl-horizontal">
            <strong>Tên ngành: </strong> : {{ registration_preset.major.major_name }}
          </dl>
          <dl class="dl-horizontal">
            <strong>Khóa: </strong> : {{ registration_preset.enrollment_batch }}
          </dl>
          <dl class="dl-horizontal">
            <strong>Năm học: </strong> : {{ registration_preset.class_year.class_year }}
          </dl>
          <dl class="dl-horizontal">
            {% if registration_preset.semester == True  %}
              <strong>Học kỳ: </strong> : 1
            {% else %}
              <strong>Học kỳ: </strong> : 2
            {% endif %}
          </dl>
          <div class="row mt-3">
            <label><strong>Tổng số tín chỉ :	</strong><label id="total_course_credit">{{ total_course_credit }}</label></label>
            </div>
            <div class="row mt-3">
                <label><strong>Tổng số tiền :	</strong><label id="total_payment_amount">{{ total_payment_amount|intcomma|localize }}</label></label>
            </div>
        <div class="table-responsive">
            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Xóa" class="btn btn-primary mt-3" />
                        <a class="btn btn-danger mt-3" href="{% url 'course_registration_preset_list' %}">Hủy</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}