{% extends "dao_tao/dao_tao_base.html" %}
{% load static %}
{% load humanizelib %}
{% load l10n %}
{% block title %}Sửa thiết lập học phần được đăng ký{% endblock %}
{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary">Sửa thiết lập học phần được đăng ký</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'edit_preset' registration_preset.id %}">
      {% csrf_token %}
      <div class="row">
        <div class="form-group mt-2">
          <label class="fw-bold  ">Tên ngành</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/nganhdaotao.png' %}" alt="Image">
              </span>
            </div>
            <select class="form-control combobox" id="major" name="major" required>
              <option value=""></option>

              {% for value in majors %}
                {% if value == registration_preset.major %}
                  <option value="{{ value.id  }}" selected>{{ value.major_name }}</option>
                {% else %}
                <option value="{{ value.id }}">{{ value.major_name }}</option>
                  {% endif %}
              {% endfor %}

            </select>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label class="fw-bold  ">Khóa</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img class="custom-image-size" src="{% static 'images/muchocphi.png' %}" alt="Image">
            </span>
          </div>
        <input type="number" class="form-control" name="enrollment_batch" value="{{ registration_preset.enrollment_batch }}" required>
      </div>
    </div>
      <div class="row">
        <div class="form-group mt-2">
          <label class="fw-bold  ">Năm học</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/namhoc.png' %}" alt="Image">
              </span>
            </div>
            <select class="form-control combobox" name="class_year" required>
              <option value=""></option>

              {% for value in class_years %}
                {% if value == registration_preset.class_year %}
                  <option value="{{ value.id  }}" selected>{{ value.class_year }}</option>
                {% else %}
                  <option value="{{ value.id }}">{{ value.class_year }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="form-group mt-2">
            <label class="fw-bold  ">Học kỳ</label>
            <br />
            {% if registration_preset.semester == True %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="semester" id="hocKy1" value="1" checked>
                <label class="form-check-label" for="hocKy1">Học kỳ 1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="semester" id="hocKy2" value="0">
                <label class="form-check-label" for="hocKy2">Học kỳ 2</label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="semester" id="hocKy1" value="1">
                <label class="form-check-label" for="hocKy1">Học kỳ 1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="semester" id="hocKy2" value="0" checked>
                <label class="form-check-label" for="hocKy2">Học kỳ 2</label>
            </div>
            {%  endif %}
        </div>
        </div>
        <hr/>
        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>
                    Mã học phần
                </th>
                <th>
                    Tên học phần
                </th>
                <th>
                    Số tín chỉ
                </th>
                <th>
                    Số tiền
                </th>
                <th>
                    Chọn
                </th>
                </thead>
                <tbody>
                  {% for hocPhan in courses %}
                    <tr id="{{ hocPhan.id }}">
                      <td>{{ hocPhan.course_id }}</td>
                      <td>{{ hocPhan.course_name }}</td>
                      <td>{{ hocPhan.course_credit }}</td>
                      <td>{{ hocPhan.payment_amount|intcomma|localize }}</td>
                      <td>
                          <input type="checkbox" id="a{{ hocPhan.id }}" name="hocPhan" value="{{ hocPhan.id }}" onchange="updateSum()">
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            <!-- <label class="float-end">Số tiền : <label  id="total_payment_amount">0</label></label> -->
        </div>
        <div class="row mt-2">
          <label><strong>Tổng số tín chỉ :	</strong><label id="total_course_credit">0</label></label>
      </div>
      <div class="row mt-2">
            <label><strong>Tổng số tiền :	</strong><label id="total_payment_amount">0</label></label>
      </div>
      <hr/>
      <div class="row">
        <div class="form-group mt-2">
          <label class="fw-bold  ">Trạng thái</label>
          <br />
          {% if registration_preset.status == True %}
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="status" id="trangThai1" value="1" checked>
              <label class="form-check-label" for="trangThai1">Cho đăng ký</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="status" id="trangThai2" value="0">
              <label class="form-check-label" for="trangThai2">Chưa cho đăng ký</label>
          </div>
          {% else %}
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="status" id="trangThai1" value="1">
              <label class="form-check-label" for="trangThai1">Cho đăng ký</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="status" id="trangThai2" value="0" checked>
              <label class="form-check-label" for="trangThai2">Chưa cho đăng ký</label>
          </div>
          {%  endif %}
      </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Xác nhận</button>
      <a class="btn btn-danger mt-2" href="{% url 'course_registration_preset_list' %}">Hủy</a>
    </form>
  </div>
</div>

<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/number_to_text.js' %}"></script>

<script>
  window.addEventListener('DOMContentLoaded', function() {
  {% for hocPhan in courses %}
    {% for selected_course in selected_courses %}
      if ("{{ hocPhan }}" == "{{ selected_course }}") {
        console.log("{{ hocPhan.id }}")
        var checkbox = document.getElementById("a{{ hocPhan.id }}");
        checkbox.checked = true;
      }
    {% endfor %}
  {% endfor %}
  updateSum();
});
</script>
<script>
  function updateSum() {
    
    var checkboxes = document.getElementsByName('hocPhan');
    var sum = 0;

    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
          {% for hocPhan in courses %}
          if ("{{ hocPhan.id }}" == checkboxes[i].value) {
              sum += parseInt("{{ hocPhan.payment_amount }}");
          }
          {% endfor %}
        
      }
    }
    updateSumCredit();
    document.getElementById('total_payment_amount').textContent = sum.toLocaleString() + " (" + to_vietnamese(sum).charAt(0).toUpperCase() + to_vietnamese(sum).slice(1) + ")";
  }
  function updateSumCredit() {
    var checkboxes = document.getElementsByName('hocPhan');
    var sum = 0;

    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
          {% for hocPhan in courses %}
          if ("{{ hocPhan.id }}" == checkboxes[i].value) {
              sum += parseInt("{{ hocPhan.course_credit }}");
          }
          {% endfor %}
        
      }
    }

    document.getElementById('total_course_credit').textContent = sum.toLocaleString();
  }
</script>

{% endblock %}