{% extends 'TaiChinh/taiChinhBase.html' %}
{% load static %}
{% block title %}Danh sách khoản thu{% endblock %}
{% block content %}
<style>
    .custom-icon-size {
      font-size: 1.5em;
      /* Adjust the size as needed */
    }
    .custom-image-size {
      width: 1.5em;
      height: 1.5em;
      object-fit: cover;
  
    }
</style>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách khoản thu</h4>
    </div>
    <div class="card-body">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="" data-bs-target="#a" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/khoanthu.png' %}"></div>
                        Danh sách khoản thu
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="" id="a" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <hr/>
                            <h6>Danh sách hệ đào tạo</h6>
                            {% for heDaoTao in ListHeDaoTao %}
                                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#idHeDaoTao{{ heDaoTao.id }}" aria-expanded="false" aria-controls="collapsePages">
                                    <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/hedaotao.png' %}"></div>
                                    {{ heDaoTao.tenHeDaoTao }}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="idHeDaoTao{{ heDaoTao.id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                        <hr/>
                                        <h6>Danh sách khoa</h6>
                                        {% for khoa in ListKhoa %}
                                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#idKhoa{{ heDaoTao.id }}{{ khoa.id }}" aria-expanded="false" aria-controls="collapsePages">
                                                <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/khoa.png' %}"></i></div>
                                                {{ khoa.tenKhoa }}
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                            </a>
                                            <div class="collapse" id="idKhoa{{ heDaoTao.id }}{{ khoa.id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                                    <hr/>
                                                    <h6>Danh sách ngành đào tạo</h6>
                                                    {% for nganhDaoTao in ListNganhDaoTao %}
                                                        {% if nganhDaoTao.khoa == khoa and nganhDaoTao.heDaoTao == heDaoTao %}
                                                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#idNganhDaoTao{{ heDaoTao.id }}{{ khoa.id }}{{ nganhDaoTao.id }}" aria-expanded="false" aria-controls="collapsePages">
                                                        <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/nganhdaotao.png' %}"></div>
                                                        {{ nganhDaoTao.tenNganhDaoTao }}
                                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                                        </a>
                                                            <div class="collapse" id="idNganhDaoTao{{ heDaoTao.id }}{{ khoa.id }}{{ nganhDaoTao.id }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                                                    <hr/>
                                                                    <h6>Danh sách khóa</h6>
                                                                    {% for key, value in namKhoadict.items %} 
                                                                        {% if key == nganhDaoTao.id %}
                                                                            {% with ''|center:value as range %}
                                                                                {% for _ in range %}
                                                                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#idNamKhoa{{ heDaoTao.id }}{{ khoa.id }}{{ nganhDaoTao.id }}{{ forloop.counter }}" aria-expanded="false" aria-controls="collapsePages">
                                                                                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                                                                        Khóa {{ forloop.counter }}
                                                                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                                                                    </a>
                                                                                    <div class="collapse" id="idNamKhoa{{ heDaoTao.id }}{{ khoa.id }}{{ nganhDaoTao.id }}{{ forloop.counter }}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                                                                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                                                                            <hr/>
                                                                                            <h6>Danh sách lớp</h6>
                                                                                            {% with namKhoax=forloop.counter %}
                                                                                            {% for lop in ListLop %}
                                                                                                
                                                                                                {% if lop.namKhoa == namKhoax and lop.heDaoTao == heDaoTao and lop.nganhDaoTao == nganhDaoTao %}
                                                                                                    <a class="nav-link collapsed" href="{% url 'listSinhVien' lop.id %}" >
                                                                                                        <div class="sb-nav-link-icon"><img class="custom-image-size" src="{% static 'images/lop.png' %}"></div>
                                                                                                        {{ lop.lop }}
                                                                                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                                                                                    </a>
                                                                                                    
                                                                                                {% endif %}
                                                                        
                                                                                            {%  endfor %}
                                                                                            {% endwith %}
                                                                        
                                                                                            
                                                                                        </nav>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            {% endwith %}
                                                                        {%  endif %}
                                                                    {% endfor %}
                                                                </nav>
                                                            </div>
                                                        {% endif %}
                                                    {%  endfor %}
                                                </nav>
                                            </div>
                                        {%  endfor %}
                                    </nav>
                                </div>
                            {%  endfor %}
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>


{% endblock %}