{% extends 'tai_chinh/tai_chinh_base.html' %}
{% load static %}
{% load humanizelib %}
{% load l10n %}
{% block title %}Danh sách các khoản thu khác{% endblock %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-9">
                <h4 class="m-0 font-weight-bold text-primary">Danh sách các khoản thu</h4>
            </div>
            <div class="col-3">
                <a href="{% url 'create_plan_preset' %}"><button class = "btn btn-success float-end" >Thêm khoản thu</button></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% if alert_content == "Create" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Thêm thiết lập khoản thu mới thành công!</strong>
            </div>
        {% endif %}
        {% if alert_content == "Edit" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Sửa thiết lập khoản thu thành công!</strong>
            </div>
        {% endif %}
        {% if alert_content == "Delete" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Xóa thiết lập khoản thu thành công!</strong>
            </div>
        {% endif %}
        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>
                    Hệ đào tạo
                </th>
                <th>
                    Khoa
                </th>
                <th>
                    Tên khoản
                </th>
                <th>
                    Số tiền
                </th>
                <th>
                    Thao tác
                </th>
                </thead>
                <tbody>
                    {% for khoanThu in preset_list %}
                        <tr id="{{ khoanThu.id }}">
                            <td>{{ khoanThu.study_program.study_program_name }}</td>
                            {% if khoanThu.faculty == None %}
                                <td>Tất cả các khoa</td>
                            {% else %}
                                <td>{{ khoanThu.faculty.faculty_name }}</td>
                            {% endif %}
                            <td>{{ khoanThu.payment_name }}</td>
                            <td>{{ khoanThu.payment_amount|intcomma|localize }}</td>
                            <td style="text-align: center;">
                                <a href="{% url 'edit_plan_preset' khoanThu.id %}">
                                    <i class="fas fa-pen-to-square bigger-icon"></i>
                                </a>
                                <a href="{% url 'delete_plan_preset' khoanThu.id %}">
                                    <i class="far fa-trash-alt bigger-icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/datatable.js' %}"></script>
{% endblock %}
