{% extends "DaoTao/daoTaoBase.html" %}
{% load static %}
{% load humanizelib %}
{% load l10n %}
{% block title %}Thêm thiết lập học phần được đăng ký{% endblock %}
{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary">Thêm thiết lập học phần được đăng ký</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'newThietLapDangKy' %}">
      {% csrf_token %}
      <div class="row">
        <div class="form-group mt-2">
          <label class="fw-bold  ">Hệ đào tạo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/hedaotao.png' %}" alt="Image">
              </span>
            </div>
          <select class="form-control combobox" id="heDaoTao" name="heDaoTao" onchange="FilterComboBox()" required>
            <option value=""></option>
            {% for value in cacHeDaoTao %}
                <option value="{{ value.id }}">{{ value.tenHeDaoTao }}</option>
            {% endfor %}
        </select>
        </div>
        </div>
        <div class="form-group mt-2">
          <label class="fw-bold  ">Khoa</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/khoa.png' %}" alt="Image">
              </span>
            </div>
          <select class="form-control combobox" name="khoa" id="khoa" onchange="FilterComboBox()">
            <option value=""></option>
            {% for value in cacKhoa %}
            <option value="{{ value.tenKhoa }}">{{ value.tenKhoa }}</option>
            {% endfor %}
            </select>
        </div>
        </div>
        <div class="form-group mt-2">
          <label class="fw-bold  ">Ngành đào tạo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/nganhdaotao.png' %}" alt="Image">
              </span>
            </div>
            <select class="form-control combobox" id="nganhDaoTao" name="nganhDaoTao" onchange="filterRows()" required>
              <option value=""></option>

            </select>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label class="fw-bold  ">Khóa</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img class="custom-image-size" src="{% static 'images/muchocphi.png' %}" alt="Image">
            </span>
          </div>
        <input type="number" class="form-control" name="namKhoa" required>
      </div>
    </div>
      <div class="row">
        <div class="form-group mt-2">
          <label class="fw-bold  ">Năm học</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img class="custom-image-size" src="{% static 'images/namhoc.png' %}" alt="Image">
              </span>
            </div>
            <select class="form-control combobox" name="namHoc" required>
              <option value=""></option>
              {% for value in cacNamHoc %}
              <option value="{{ value.id }}">{{ value.namHoc }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="form-group mt-2">
            <label class="fw-bold  ">Học kỳ</label>
            <br />
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="hocKy" id="hocKy1" value="True" required>
              <label class="form-check-label" for="hocKy1">Học kỳ 1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="hocKy" id="hocKy2" value="False" required>
              <label class="form-check-label" for="hocKy2">Học kỳ 2</label>
            </div>
          </div>
        </div>
      <hr/>
      <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-4 mt-2 ">
                  <label class="fw-bold float-end">Loại học phần</label>
                </div>
                <div class="col-8">
                <select class="form-control combobox" name="loaiHocPhan" id="loaiHocPhan" onchange="filterRows()"
                    required>
                    <option value="all">Tất cả</option>
                    <option value="Đại cương">Đại cương</option>
                    <option value="Chuyên ngành">Chuyên ngành</option>
                </select>
                </div>
              </div>
        </div>
      </div>
        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>
                    Loại học phần
                </th>
                <th>
                    Hệ đào tạo
                </th>
                <th>
                    Ngành đào tạo
                </th>
                <th>
                    Mã học phần
                </th>
                <th>
                    Tên học phần
                </th>
                <th>
                    Số tín chỉ
                </th>
                <th>
                    Số tiền
                </th>
                <th>
                    Chọn
                </th>
                </thead>
                <tbody>
                    {% for hocPhan in cacHocPhan %}
                        <tr id="{{ hocPhan.id }}">
                            {% if hocPhan.nganhDaoTao == None %}
                                <td>Đại cương</td>
                            {% else %}
                                <td>Chuyên ngành</td>
                            {% endif %}
                            <td>{{ hocPhan.heDaoTao.tenHeDaoTao }}</td>
                            <td>{{ hocPhan.nganhDaoTao.tenNganhDaoTao }}</td>
                            <td>{{ hocPhan.maHocPhan }}</td>
                            <td>{{ hocPhan.tenHocPhan }}</td>
                            <td>{{ hocPhan.soTinChi }}</td>
                            <td>{{ hocPhan.soTien|intcomma|localize }}</td>
                            <td><input type="checkbox" name="hocPhan" value="{{ hocPhan.id }}" id="{{ hocPhan.id }}" onchange="updateSum(this,'{{ hocPhan.id }}')"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row mt-2">
              <label><strong>Tổng số tín chỉ :	</strong><label id="tongSoTin">0</label></label>
        </div>
        <div class="row mt-2">
              <label><strong>Tổng số tiền :	</strong><label id="tongSoTien">0</label></label>
        </div>
        <hr/>
      <div class="row">
        <div class="form-group mt-2" hidden>
          <label class="fw-bold  ">Trạng thái</label>
          <br />
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trangThai" id="trangThai1" value="True">
            <label class="form-check-label" for="trangThai1">Cho đăng ký</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trangThai" id="trangThai2" value="False" checked>
            <label class="form-check-label" for="trangThai2">Chưa cho đăng ký</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Xác nhận</button>
      <a class="btn btn-danger mt-2" href="{% url 'listThietLapDangKy' %}">Hủy</a>
    </form>
  </div>
</div>

<script>
  var selectedRows = [];
    function updateSum(checkbox,rowId) {
      var checkboxes = document.getElementsByName('hocPhan');
      var sum = 0;
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            {% for hocPhan in cacHocPhan %}
            if ("{{ hocPhan.id }}" == checkboxes[i].value) {
                sum += parseInt("{{ hocPhan.soTien }}");
            }
            {% endfor %}
        }
      }
      updateSumTin();
      document.getElementById('tongSoTien').textContent = sum.toLocaleString() + " (" + to_vietnamese(sum).charAt(0).toUpperCase() + to_vietnamese(sum).slice(1) + ")";
  
      var row = checkbox.parentNode.parentNode; // Assuming checkbox is in a <td> inside the <tr>
      if (checkbox.checked) {
        selectedRows.push(rowId);
      } else {
        var index = selectedRows.indexOf(rowId);
        if (index !== -1) {
          selectedRows.splice(index, 1);
        }
      }
      console.log(selectedRows);
    }
    function updateSumTin() {
      var checkboxes = document.getElementsByName('hocPhan');
      var sum = 0;
  
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            {% for hocPhan in cacHocPhan %}
            if ("{{ hocPhan.id }}" == checkboxes[i].value) {
                sum += parseInt("{{ hocPhan.soTinChi }}");
            }
            {% endfor %}
          
        }
      }
  
      document.getElementById('tongSoTin').textContent = sum.toLocaleString();
    }
  </script>
  <script type="text/javascript">
    $('#dataTable').DataTable({
                language: {
                    searchPlaceholder: "Tìm kiếm",
                    search: "",
                    "sInfo": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Hiển thị 0 đến 0 của 0 mục",
                    "sInfoFiltered": "Lọc từ _MAX_ mục",
                    "sLengthMenu": "Hiện _MENU_ mục",
                    "sEmptyTable": "Không có dữ liệu",
                  
                },
                
                stateSave: false,
                "pageLength": 100,
                dom: '<"clear"><"row"<"col"l><"col"f>>rt<"row"<"col"i><"col"p>><"row">',
                buttons: [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)',
                        }, title: ''
                    }, {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)',
                        }, title: ''
                    }
                ]
            });
    $('.dataTables_filter input[type="search"]').css({
        width: '350px',
        display: 'inline-block',
        height: '40px',
    });
    
</script>
<script>
  const table = $('#dataTable').DataTable();
  const originalData = table.rows().data();
  const defaultNumbers = ' hai ba bốn năm sáu bảy tám chín';
  const chuHangDonVi = ('1 một' + defaultNumbers).split(' ');
  const chuHangChuc = ('lẻ mười' + defaultNumbers).split(' ');
  const chuHangTram = ('không một' + defaultNumbers).split(' ');

  function convert_block_three(number) {
    if (number == '000') return '';
    var _a = number + ''; //Convert biến 'number' thành kiểu string

    //Kiểm tra độ dài của khối
    switch (_a.length) {
      case 0:
        return '';
      case 1:
        return chuHangDonVi[_a];
      case 2:
        return convert_block_two(_a);
      case 3:
        var chuc_dv = '';
        if (_a.slice(1, 3) != '00') {
          chuc_dv = convert_block_two(_a.slice(1, 3));
        }
        var tram = chuHangTram[_a[0]] + ' trăm';
        return tram + ' ' + chuc_dv;
    }
  }

  function convert_block_two(number) {
    var dv = chuHangDonVi[number[1]];
    var chuc = chuHangChuc[number[0]];
    var append = '';

    // Nếu chữ số hàng đơn vị là 5
    if (number[0] > 0 && number[1] == 5) {
      dv = 'lăm'
    }

    // Nếu số hàng chục lớn hơn 1
    if (number[0] > 1) {
      append = ' mươi';

      if (number[1] == 1) {
        dv = ' mốt';
      }
    }

    return chuc + '' + append + ' ' + dv;
  }
  const dvBlock = '1 nghìn triệu tỷ'.split(' ');

  function to_vietnamese(number) {
    var str = parseInt(number) + '';
    var i = 0;
    var arr = [];
    var index = str.length;
    var result = [];
    var rsString = '';

    if (index == 0 || str == 'NaN') {
      return '';
    }

    // Chia chuỗi số thành một mảng từng khối có 3 chữ số
    while (index >= 0) {
      arr.push(str.substring(index, Math.max(index - 3, 0)));
      index -= 3;
    }

    // Lặp từng khối trong mảng trên và convert từng khối đấy ra chữ Việt Nam
    for (i = arr.length - 1; i >= 0; i--) {
      if (arr[i] != '' && arr[i] != '000') {
        result.push(convert_block_three(arr[i]));

        // Thêm đuôi của mỗi khối
        if (dvBlock[i]) {
          result.push(dvBlock[i]);
        }
      }
    }

    // Join mảng kết quả lại thành chuỗi string
    rsString = result.join(' ');

    // Trả về kết quả kèm xóa những ký tự thừa
    return rsString.replace(/[0-9]/g, '').replace(/ /g, ' ').replace(/ $/, '') + " đồng";
  }
  function FilterComboBox() {
    var cmbHeDaoTao = document.getElementById('heDaoTao');
    var cmbNganhDaoTao = document.getElementById('nganhDaoTao');
    var cmbKhoa = document.getElementById('khoa');
    var selectedHeDaoTao = cmbHeDaoTao.value;
    var selectedKhoa = cmbKhoa.value;
    
    cmbNganhDaoTao.innerHTML = '';

    {% for value in cacNganhDaoTao %}
      if ("{{ value.heDaoTao.id }}" == selectedHeDaoTao && "{{ value.khoa.tenKhoa }}" == selectedKhoa) {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.id }}";
        newOption.textContent = "{{ value.tenNganhDaoTao }}";
        cmbNganhDaoTao.appendChild(newOption);
      }
    {% endfor %}
    filterRows();
}
function filterRows() {
    var loaiHocPhan = $('#loaiHocPhan').val();
    var cmbNganhDaoTao = document.getElementById('nganhDaoTao');
    var nganhDaoTaoOption = cmbNganhDaoTao.options[cmbNganhDaoTao.selectedIndex];
    if (nganhDaoTaoOption == null){
      var nganhDaoTao = null
    } else {
      var nganhDaoTao = nganhDaoTaoOption.textContent;
    }
     

    var cmbHeDaoTao = document.getElementById('heDaoTao');
    var heDaoTaoOption = cmbHeDaoTao.options[cmbHeDaoTao.selectedIndex];
    var heDaoTao = heDaoTaoOption.textContent;

    table.clear();
    if (loaiHocPhan === 'all') {
      originalData.each(function(value, index) {
            if (value[0] === "Đại cương" && value[1] === heDaoTao) {
                table.row.add(value);
            }
            else if (value[2] === nganhDaoTao) {
                table.row.add(value);
            }
        });

    } 
    if (loaiHocPhan === "Đại cương" ) {
        originalData.each(function(value, index) {
            if (value[0] === loaiHocPhan && value[1] === heDaoTao) {
                table.row.add(value);
            }
        });
    }
    else if (loaiHocPhan === "Chuyên ngành") {
      originalData.each(function(value, index) {
            if (value[0] === loaiHocPhan && value[2]=== nganhDaoTao) {
                table.row.add(value);
            }
        });
    }   
    table.draw();
    checkSelectedRows();
    updateSumTin();
}

function checkSelectedRows() {
  for (var i = 0; i < selectedRows.length; i++) {
    var row = document.getElementById(selectedRows[i]);

    if (row) {
      var checkbox = row.querySelector('input[type="checkbox"]');
      if (checkbox) {
        checkbox.checked = true;
      }
    }
  }
}
</script>
{% endblock %}