{% extends 'TaiChinh/taiChinhBase.html' %}
{% load static %}
{% block title %}Thêm khoản thu{% endblock %}
{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h4 class="m-0 font-weight-bold text-primary">Thêm khoản thu cho lớp</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'addThanhToanKhoanThuKhac' lopId %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            <div class="form-group mt-2">
              <label class="fw-bold  ">Khoản thu</label>
              <select class="form-control combobox" name="khoanThuKhac" id="khoanThuKhac"  onchange="getKhoanThuKhacInfo()" required>
                <option value=""></option>
                {% for value in listKhoanThuKhac %}
                  {% if value.khoa == none %}
                    <option value="{{ value.id }}">(Tất cả khoa) {{ value.tenKhoan}}</option>
                  {% else %}
                  <option value="{{ value.id }}">({{value.khoa.tenKhoa}}) {{value.tenKhoan}}</option>
                  {% endif %}
                {% endfor %}
            </select>
            </div>
              <!-- Id Tàng hình -->
              <div class="form-group mt-2">
                <input class="form-control" value="{{ value.id }}" id="id" hidden>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold  ">Nội dung : </label>
                <label id="noiDung"></label>
            </div>
          </div>
        </div>          
        <hr/>
        <h5>Thông tin nội dung</h5>
        <div class="row">
          <div class="col-6">
            <div class="form-group mt-2">
              <label class="fw-bold  ">Hạn nộp</label><br/>
              <input type="date" class="form-control" id="date" name="hanNop">
          </div>
          <div class="form-group mt-2">
            <label class="fw-bold  ">Tổng số tiền</label>
            <input class="form-control" type="text" name="soTien" id="tongSoTien"  data-type="currency" min="0">
          </div>
          </div>
          <div class="col-6">
            <div class="form-group mt-2">
              <label class="fw-bold  ">Nội dung thu</label>
              <textarea class="form-control" name="noiDungThu" rows="4" ></textarea>
            </div>
          </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary mt-3">Xác nhận</button>
        <a class="btn btn-danger mt-3" href="{% url 'listSinhVien' lopId %}">Hủy</a>
      </form>
</div>
</div>

<script>
  $("input[data-type='currency']").on({
      keyup: function() {
      formatCurrency($(this));
      },
      blur: function() { 
      formatCurrency($(this), "blur");
      }
  });

  function formatNumber(n) {
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
  }

  function formatCurrency(input, blur) {
  var input_val = input.val();
  if (input_val === "") { return; }
  var original_len = input_val.length;
  var caret_pos = input.prop("selectionStart");
  if (input_val.indexOf(".") >= 0) {
      var decimal_pos = input_val.indexOf(".");
      var left_side = input_val.substring(0, decimal_pos);
      var right_side = input_val.substring(decimal_pos);
      left_side = formatNumber(left_side);
      right_side = formatNumber(right_side);
      if (blur === "blur") {
      right_side += "00";
      }
      right_side = right_side.substring(0, 2);
      input_val = left_side + "." + right_side;
  } else {
      input_val = formatNumber(input_val);
      input_val = input_val ;
  }
  input.val(input_val);
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
  }
  function getSVInfo() {
        var inputIdSV = document.getElementById('idSV');
        var inputSV = document.getElementById('maSV');
        var labelHoten = document.getElementById('hoTen');
        var labelNgaySinh = document.getElementById('ngaySinh');
        var labelQueQuan = document.getElementById('queQuan');
        var maSV = inputSV.value;
        inputIdSV.value = ""
        labelHoten.textContent = ""
        labelQueQuan.textContent = ""
        labelNgaySinh.textContent = ""
        {% for value in listSinhVien %}
          if ("{{ value.maSV }}" == maSV) {
            inputIdSV.value = "{{ value.id }}"
            labelHoten.textContent = "{{ value.hoTen }}"
            labelQueQuan.textContent = "{{ value.queQuan }}"
            labelNgaySinh.textContent = "{{ value.ngaySinh }}"
          }
      {% endfor %}
        }
  function getKhoanThuKhacInfo(event) {
    var cmbKhoanThuKhac = document.getElementById('khoanThuKhac');
    var inputId = document.getElementById('id');
    var inputTongSoTien = document.getElementById('tongSoTien');
    var labelNoiDung = document.getElementById('noiDung');
    var khoanThuKhac = cmbKhoanThuKhac.value;
    console.log(khoanThuKhac);
    inputId.value = "";
    labelNoiDung.textContent = "";

    {% for value in listKhoanThuKhac %}
        if ("{{ value.id }}" == khoanThuKhac) {
            inputId.value = "{{ value.id }}"
            labelNoiDung.textContent = "{{ value.noiDung }}"
            inputTongSoTien.value = parseInt("{{ value.soTien }}").toLocaleString();
        }
    {% endfor %}
    }

    function handleComboboxChange1() {
    var cmbHeDaoTao = document.getElementById('heDaoTao');
    var cmbKhoa = document.getElementById('khoa');
    var cmbKhoanThuKhac = document.getElementById('khoanThuKhac');
    var selectedHeDaoTao = cmbHeDaoTao.value;
    var selectedKhoa = cmbKhoa.value;
    
    cmbKhoanThuKhac.innerHTML = '';
    {% for value in listKhoanThuKhac %}
      if ("{{ value.heDaoTao.id }}" == selectedHeDaoTao  && "{{ value.khoa.id }}" == selectedKhoa) {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.tenKhoan }}";
        newOption.textContent = "{{ value.tenKhoan }}";
        cmbKhoanThuKhac.appendChild(newOption);
      }
      else if (selectedKhoa == '') {
        var newOption = document.createElement('option');
        newOption.value = "{{ value.tenKhoan }}";
        newOption.textContent = "{{ value.tenKhoan }}";
        cmbKhoanThuKhac.appendChild(newOption);
      }
    {% endfor %}
    }
</script>
{% endblock %}