{% load static %}
<title>{% block title %}{% endblock %}</title>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <body class="sb-nav-fixed">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <link rel="stylesheet" href="{% static 'css/styles2.css' %}">

                        <div class="team-boxed">
                            <center class="fs-3 fw-bold pt-5">Không thể xóa mục này do: Mục này đăng được các mục khác tham chiếu vào</center>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">

                    </div>
                </footer>
    </body>
    
</html>